
<!--br-->
<table>
<%= form_tag '', method: :get do %>
  <!-- Formulário Filtro -->
<tr>
<td colspan="2"><strong>Informe os coeficientes:</strong></td>
</tr>
<tr>
<td>Coeficiente a: </td>
<td> <%= text_field_tag :a %></td>
</tr>
<tr>
<td>Coeficiente b: </td>
<td> <%= text_field_tag :b %></td>
</tr>
<tr>
<td>Coeficiente c: </td>
<td> <%= text_field_tag :c %></td>
</tr>
<tr height="45">
<td width="150px"></td>
<td> <input type="submit" name="commit" value="Calcular" class="button button-inline button-small button-primary" data-disable-with="Calculando..." /></td>
<script>
  document.getElementById("a").value = 1;
  document.getElementById("b").focus();
</script>
<% end %>
</tr>
</table>

<% if @a != nil %>

<table>
<tr>
<td width="60px"><strong>Equação calculada:</strong></td>
<td><img src="http://www.intmath.com/cgi-bin/mathtex.cgi?(<%= @a %>)x^2+(<%= @b %>)x+(<%= @c %>)=0" width="150" height="20" alt="ax^2+bx+c=0" title="ax^2+bx+c=0" style="vertical-align:0px">
</td>
</tr>
<tr>
<td colspan="2"><strong>Aplicado bhaskara:</strong></td>
</tr>
<tr>
<td><img src="http://www.intmath.com/cgi-bin/mathtex.cgi?x=\frac{-b\pm\sqrt{b^2-4ac}}{2a}" width="160" height="37" alt="x=\frac{-b\pm\sqrt{b^2-4ac}}{2a}" title="x=\frac{-b\pm\sqrt{b^2-4ac}}{2a}" style="vertical-align:0px">
</td>
</tr>
<br>
</table>
<img src="http://www.intmath.com/cgi-bin/mathtex.cgi?x=\frac{-(<%= @b %>)\pm\sqrt{(<%= @b %>)^2-4(<%= @a %>)(<%= @c %>)}}{2(<%= @a %>)}" width="250" height="37" alt="x=\frac{-b\pm\sqrt{b^2-4ac}}{2a}" title="x=\frac{-b\pm\sqrt{b^2-4ac}}{2a}" style="vertical-align:0px">

<% if @a != nil && @a != "0" && @a != ""  %>
<table border="0" style="width: 500px">
  <tbody>
    <tr>
      <td>x<sub>1</sub> = </td>
      <!-- Exibe a raiz x1 -->
      <td><%= x1() %></td>
    </tr>
    <tr>
      <td>x<sub>2</sub> = </td>
      <!-- Exibe a raiz x2 -->
      <td><%= x2() %></td>
    </tr>
  </tbody>
</table>
<% end %>
<% end %>