<!DOCTYPE html>
<html>
  <head>
    <title>Bhaskara</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css'>

    <link rel="stylesheet" href="style.css">

    <%# *************************************** %>
    <%# javascript for "estoques/edit" view ... %>
    <%# *************************************** %>
    <% if (controller_name=='bhaskara' && action_name=='index') %>
       <script src="bhaskara.index.js"></script>
       <script src="index.js"></script>
    <% end %>

    <table>
    <tr>
    <td><%= image_tag 'dolphins_224x200.png', :class => 'logo' %>
    <td width="120px"></td>
<td><h1>ax<sup>2</sup>+bx+c=0</h1></strong><h6 align="left"><i>por Ludenir Santos</i></h6></td>
    <!--hr class="hrEspessura"-->
    </tr>
    </table>
    
    <hr class="hrEspessura"></td>

  </head>

  <body>
    <%= yield %>
  </body>
  
</html>
